# =====================
# ENV / Python
# =====================
.env
.env.*
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# backend
backend/.env
backend/.env.*
backend/.venv/
backend/venv/
backend/**/__pycache__/
backend/mapa/cache/

# =====================
# Node / React
# =====================
node_modules/
frontend/node_modules/
dist/
dist-ssr/
frontend/dist/
*.local

# =====================
# Logs
# =====================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================
# System / IDE
# =====================
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?